@page "/enterprise"
@attribute [Authorize]
<h1>僅限企業內部人員</h1>

<p>您已經登入, 因此可以訪問這頁面</p>

詳細參閱:
<ul>
    <li>
        https://docs.microsoft.com/en-us/aspnet/core/blazor/security/?view=aspnetcore-5.0#authorize-attribute
    </li>
 

</ul>
